<!DOCTYPE html>
<html>
	<head>
		<title>تصنيفات الأخبار</title>
		<style>
		*{
			direction: rtl;
		}
		</style>
	</head>
	<body>
		<h2>تصنيفات الأخبار</h2>
		<form>
			<input name="cat_name" type="text"><br>
			<input type="submit" value="موافق">
		</form>
	</body>
</html>