<html>
	<head>
		<title>إرابيا.تيكنولوجي</title>
	</head>

<body dir="rtl">
	<h1>الأخبار</h1>
	<a href="/">الرئيسية</a>||
	<a href="/tech_news">أخبار تقنية</a>||
	<a href="/ops_news">برمجيات مفتوحة المصدر</a>||
	<a href="/programming_news">عالم البرمجة</a>|||
	<a href="/admin">لوحة التحكم</a>
</body>

</html>